In [2]:
import pandas as pd
from glob import glob

In [4]:
adds = []
for add in glob("DATA/*.csv"):
    print(add)
    adds.append(add)

DATA\dataset_divar_cleaned_V2.csv
DATA\Divar_20000_records_14011014.csv
DATA\full.csv
DATA\iranfile3.csv
DATA\total_data.csv

In [5]:
adds

['DATA\\dataset_divar_cleaned_V2.csv',
 'DATA\\Divar_20000_records_14011014.csv',
 'DATA\\full.csv',
 'DATA\\iranfile3.csv',
 'DATA\\total_data.csv']

In [6]:
df_divar_cleaned_maryam = pd.read_csv(adds[0])

In [7]:
df_divar_cleaned_s = pd.read_csv(adds[1])

In [8]:
df_full = pd.read_csv(adds[2])

In [321]:
df_iranfl = pd.read_csv(adds[3])
df_us = pd.read_csv(adds[-1] , low_memory=False)

In [323]:
df_us.drop(["adv_date" ,"facilities" , "link"  ] , axis= 1 , inplace = True)

In [325]:
replacement = {"False" : 0 , "0" : 0 , "0.0" : False , "1.0" : True  , "True" : 1 , "1" : 1}
for col in df_us.iloc[: , 6:-2].columns:
    df_us.loc[: , col] = df_us.loc[: , col].map(replacement)

In [326]:
def neighbourhood_cleaner(n):
    n = n.replace("تهران"  , "")
    n = n.replace("," , "")
    n = n.replace("،" , "")
    n = n.replace(" " , "")
    n = n.split("-")[0]
    # n.strip()
    # n = n.split()[0] if (len(n.split())>=1 ) else ""
    n = n.strip()

    return n

In [327]:
df_us["neighbour_hood"] = df_us["neighbour_hood"].apply(neighbourhood_cleaner)

In [328]:
df_us["neighbour_hood"]

0        جنتآبادشمالی
1                  کن
2                محله
3                محله
4        جنتآبادمرکزی
             ...
24247     دهکدهالمپیک
24248     دهکدهالمپیک
24249     دهکدهالمپیک
24250     دهکدهالمپیک
24251        قناتکوثر
Name: neighbour_hood, Length: 24252, dtype: object

In [329]:
df_us[df_us["floor"].isna()]

,area,build_year,description,floor,neighbour_hood,rooms,Fountain,Central_vaccum,Sauna,Security,...,Parking,Lobby_man,Tercce,Elevator,Fire_desabler,Gym,Lobby,Guest_parking,price,total_price
16637,310,1400,"طبقه ملک: 7,\n,\nتعداد خواب : 4,\nتعداد پارکین...",NaN,پاسداران,4,0,1,1,0,...,1,0,1,1,0,0,1,0,319355000,99000000000
16638,370,1401,"طبقه ملک: 4,\n,\nنهایت هنر در معماری,\n,\nبا و...",NaN,اقدسیه,4,0,0,0,0,...,1,0,0,1,0,0,0,0,267568000,99000000000
16639,427,1401,"طبقه ملک: 7,\n,\nنهایت هنر در معماری,\n,\nبا و...",NaN,نیاوران,4,0,0,0,0,...,1,0,0,1,0,0,0,0,231850000,99000000000
16640,500,1398,"کد اگهی : Mo1005,\n,\nبهترین های منطقه با خوش ...",NaN,زعفرانیه,4,0,0,0,0,...,1,0,0,1,0,0,1,0,198000000,99000000000
16641,502,1399,"موقعیت جغرافیایی بنا: شمالی,\nموقعیت جغرافیایی...",NaN,زعفرانیه,5,0,0,0,0,...,1,0,0,1,0,0,1,0,197211000,99000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24247,3,1401,"طبقه ملک: 12,\n,\nخرید اقساطی در بهترین و معتب...",NaN,دهکدهالمپیک,5,0,0,0,0,...,1,0,0,1,0,0,0,0,33333000,100000000
24248,3,1401,"طبقه ملک: 12,\n,\nخرید اقساطی در بهترین و معتب...",NaN,دهکدهالمپیک,5,0,0,0,0,...,1,0,0,1,0,0,0,0,33333000,100000000
24249,21,1401,"طبقه ملک: 12,\n,\nپیش خرید مجتمع اداری تجاری ب...",NaN,دهکدهالمپیک,5,0,0,0,0,...,1,0,0,1,0,0,0,0,4762000,100000000
24250,100,1401,"طبقه ملک: 25,\n,\nخرید اقساطی در بهترین و معتب...",NaN,دهکدهالمپیک,5,0,0,0,0,...,1,0,0,1,0,0,0,0,1000000,100000000
24251,88,1394,"موقعیت عالی طبقه دوم , , ,",NaN,قناتکوثر,2,0,0,0,0,...,1,0,0,1,0,0,0,0,659000,58000000

In [330]:
drop_ind = df_us[df_us["floor"].isna()].index

In [331]:
df_us_no_floor_dropped = df_us.drop(drop_ind , axis= 0 ).copy()

In [332]:
df_us_no_floor = df_us[df_us["floor"].isna()].copy()

In [333]:
df_us_no_floor.shape

(7615, 29)

In [334]:
df_us_no_floor_dropped.shape

(16637, 29)

In [335]:
# def find_floor(des):
#     index = des.find(" :طبقه ملک")

#     des = des[index+11: index+13]
#     out = ""
#     for char in des:
#         if char.isdigit():
#             out+= char

#     if out:
#         return int(out)

#     return None

In [336]:
def find_floor(des):
    index = des.find("طبقه ملک")

    des = des[index+8: index+13]

    out = ""
    for char in des:
        if char.isdigit():
            out+= char

    if out:
        return int(out)

    return None

In [337]:
df_us_no_floor["floor"] = df_us_no_floor["description"].apply(find_floor)

In [338]:
df_us_no_floor = df_us_no_floor[df_us_no_floor["floor"].notna()]
# df_us_no_floor["description"].apply(lambda x:x.find("طبقه ملک")).value_counts()
# df_us_no_floor["description"].apply(find_floor_test).isna().sum()

In [339]:
df_us_no_floor.shape

(6899, 29)

In [340]:
df_us_floor_added = pd.concat([df_us_no_floor_dropped , df_us_no_floor])

In [345]:
df_us_floor_added.isna().sum()

area                  0
build_year            0
description           0
floor                 0
neighbour_hood        0
rooms                 0
Fountain           7355
Central_vaccum     7355
Sauna                 0
Security           7355
Party_room            0
Warehouse             0
Hot_tubb           7355
Janitor               0
Pool              23536
Lights             7355
Roof_grnd             0
Gazebo             7355
Fire_detetor       7355
Parking               0
Lobby_man          7355
Tercce             7355
Elevator              0
Fire_desabler         0
Gym                7355
Lobby                 0
Guest_parking      7355
price                 0
total_price           0
dtype: int64

In [348]:
df_us_floor_added.fillna(0 , inplace=True)

In [350]:
df_us_floor_added.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23536 entries, 0 to 24250
Data columns (total 29 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   area            23536 non-null  int64
 1   build_year      23536 non-null  int64
 2   description     23536 non-null  object
 3   floor           23536 non-null  float64
 4   neighbour_hood  23536 non-null  object
 5   rooms           23536 non-null  int64
 6   Fountain        23536 non-null  int64
 7   Central_vaccum  23536 non-null  int64
 8   Sauna           23536 non-null  int64
 9   Security        23536 non-null  int64
 10  Party_room      23536 non-null  int64
 11  Warehouse       23536 non-null  int64
 12  Hot_tubb        23536 non-null  int64
 13  Janitor         23536 non-null  int64
 14  Pool            23536 non-null  int64
 15  Lights          23536 non-null  int64
 16  Roof_grnd       23536 non-null  int64
 17  Gazebo          23536 non-null  int64
 18  Fire_detetor    23536 non-null  int64
 19  Parking         23536 non-null  int64
 20  Lobby_man       23536 non-null  int64
 21  Tercce          23536 non-null  int64
 22  Elevator        23536 non-null  int64
 23  Fire_desabler   23536 non-null  int64
 24  Gym             23536 non-null  int64
 25  Lobby           23536 non-null  int64
 26  Guest_parking   23536 non-null  int64
 27  price           23536 non-null  int64
 28  total_price     23536 non-null  int64
dtypes: float64(1), int64(26), object(2)
memory usage: 5.4+ MB

In [351]:
df_us_floor_added.columns

Index(['area', 'build_year', 'description', 'floor', 'neighbour_hood', 'rooms',
       'Fountain', 'Central_vaccum', 'Sauna', 'Security', 'Party_room',
       'Warehouse', 'Hot_tubb', 'Janitor', 'Pool', 'Lights', 'Roof_grnd',
       'Gazebo', 'Fire_detetor', 'Parking', 'Lobby_man', 'Tercce', 'Elevator',
       'Fire_desabler', 'Gym', 'Lobby', 'Guest_parking', 'price',
       'total_price'],
      dtype='object')

In [360]:
for col in df_us.columns[6:-2]:
    print(col)
    print(df_us[col].sum())

Fountain
8923
Central_vaccum
262
Sauna
3916
Security
1373
Party_room
3031
Warehouse
14706
Hot_tubb
8951
Janitor
5013
Pool
0
Lights
609
Roof_grnd
3831
Gazebo
780
Fire_detetor
1691
Parking
14727
Lobby_man
1289
Tercce
1273
Elevator
14261
Fire_desabler
12073
Gym
493
Lobby
7521
Guest_parking
1366

In [365]:
df_us_floor_added["Luxury_features"] = ( df_us_floor_added["Central_vaccum"]  | df_us_floor_added["Security"] | df_us_floor_added["Party_room"] | df_us_floor_added["Lights"] | df_us_floor_added["Roof_grnd"] | df_us_floor_added["Gazebo"]  | df_us_floor_added["Lobby_man"] | df_us_floor_added["Gym"] | df_us_floor_added["Guest_parking"] )

In [370]:
df_us_floor_added.columns

Index(['area', 'build_year', 'description', 'floor', 'neighbour_hood', 'rooms',
       'Fountain', 'Central_vaccum', 'Sauna', 'Security', 'Party_room',
       'Warehouse', 'Hot_tubb', 'Janitor', 'Pool', 'Lights', 'Roof_grnd',
       'Gazebo', 'Fire_detetor', 'Parking', 'Lobby_man', 'Tercce', 'Elevator',
       'Fire_desabler', 'Gym', 'Lobby', 'Guest_parking', 'price',
       'total_price', 'Luxury_features'],
      dtype='object')

In [377]:
df_us_floor_added = df_us_floor_added[["area" , "build_year" , "floor" , "neighbour_hood" , "rooms" ,"Warehouse" , "Parking" ,"Tercce" ,  "Elevator" , "Luxury_features" , "price" ,"total_price" ]]

In [378]:
df_us_floor_added

,area,build_year,floor,neighbour_hood,rooms,Warehouse,Parking,Tercce,Elevator,Luxury_features,price,total_price
0,118,1401,2.0,جنتآبادشمالی,2,0,0,0,0,1,70338983,8300000000
1,65,1386,3.0,کن,1,0,0,0,0,0,40615384,2640000000
2,160,1401,2.0,محله,3,0,0,0,0,0,140000000,22400000000
3,68,1384,1.0,محله,2,0,0,0,0,0,62500000,4250000000
4,87,1400,1.0,جنتآبادمرکزی,2,0,0,0,0,0,78735632,6850000000
...,...,...,...,...,...,...,...,...,...,...,...,...
24246,120,1401,15.0,دریاچهشهدایخلیجفارس,3,1,1,0,1,0,1542000,185000000
24247,3,1401,12.0,دهکدهالمپیک,5,1,1,0,1,0,33333000,100000000
24248,3,1401,12.0,دهکدهالمپیک,5,1,1,0,1,0,33333000,100000000
24249,21,1401,12.0,دهکدهالمپیک,5,1,1,0,1,0,4762000,100000000
24250,100,1401,25.0,دهکدهالمپیک,5,1,1,0,1,0,1000000,100000000

In [383]:
df_us_floor_added.columns

Index(['area', 'build_year', 'floor', 'neighbour_hood', 'rooms', 'Warehouse',
       'Parking', 'Tercce', 'Elevator', 'Luxury_features', 'price',
       'total_price'],
      dtype='object')

In [514]:
df_full_cleaned = df_full[["سال ساخت" , "منطقه" , "قیمت(متر مربع)" ,"قیمت" , "متراژ" ,"طبقه" ,"تعداد خواب" , "پارکینگ" , "آسانسور" , "لابی" ,"انباری" , "سونا و جکوزی"]].copy()

In [516]:
df_full_cleaned.columns = ["build_year" , "neighbour_hood" , "price" , "total_price" ,"area" , "floor" , "rooms"  ,"Parking" ,  "Elevator","lobby" ,"Warehouse", "jaccusie" ]

In [518]:
df_full_cleaned.loc[:, "price"] = df_full_cleaned["price"].apply(lambda x: x.replace("," , ""))
df_full_cleaned.loc[:, "price"] = df_full_cleaned["price"].apply(lambda x: x.replace("تومان" , ""))
df_full_cleaned.loc[:, "price"] = df_full_cleaned["price"].apply(lambda x:x.strip() )
drop_index = df_full_cleaned[~df_full_cleaned["price"].str.isdecimal()].index
df_full_cleaned.drop(drop_index , axis= 0 , inplace= True)
df_full_cleaned.loc[:, "price"] = df_full_cleaned["price"].apply(lambda x:int(x))

In [520]:
df_full_cleaned.loc[:, "total_price"] = df_full_cleaned["total_price"].apply(lambda x: x.replace("," , ""))
df_full_cleaned.loc[:, "total_price"] = df_full_cleaned["total_price"].apply(lambda x: x.replace("تومان" , ""))
df_full_cleaned.loc[:, "total_price"] = df_full_cleaned["total_price"].apply(lambda x:x.strip() )
drop_index = df_full_cleaned[~df_full_cleaned["total_price"].str.isdecimal()].index
df_full_cleaned.drop(drop_index , axis= 0 , inplace= True)
df_full_cleaned.loc[:, "total_price"] = df_full_cleaned["total_price"].apply(lambda x:int(x))

In [522]:
drop_index =  df_full_cleaned[~df_full_cleaned["build_year"].str.isdigit()].index
df_full_cleaned.drop(drop_index , axis= 0 , inplace= True)

In [523]:
df_full_cleaned["build_year"] = df_full_cleaned["build_year"].apply(lambda x: int(x))

In [524]:
df_full_cleaned["floor"] = df_full_cleaned["floor"].apply(lambda x : {"همکف" : "0" , "زیرهمکف" : "-1"}.get(x , x))

In [530]:
drop_index = df_full_cleaned[~df_full_cleaned["floor"].str.isdigit()].index
df_full_cleaned.drop(drop_index , axis= 0 , inplace= True)

In [533]:
df_full_cleaned["floor"] = df_full_cleaned["floor"].apply(lambda x: int(x))

In [539]:
df_full_cleaned["rooms"] = df_full_cleaned["rooms"].apply(lambda x: x.replace("خواب", ""))
df_full_cleaned["rooms"] = df_full_cleaned["rooms"].apply(lambda x: x.strip())

In [544]:
drop_index = df_full_cleaned[~df_full_cleaned["rooms"].str.isdigit()].index
df_full_cleaned.drop(drop_index , axis=0 , inplace= True)

In [545]:
df_full_cleaned["rooms"] = df_full_cleaned["rooms"].apply(lambda x: int(x))

In [548]:
df_full_cleaned["Parking"] +" " +df_full_cleaned["lobby"]

0         پارکینگ لابی
1       پارکینگ انباری
2       پارکینگ انباری
3         آسانسور لابی
4         پارکینگ لابی
             ...
6009    پارکینگ انباری
6010    پارکینگ انباری
6011      پارکینگ لابی
6012     بالکن سرایدار
6013    پارکینگ انباری
Length: 5728, dtype: object

In [552]:
df_full_cleaned

,build_year,neighbour_hood,price,total_price,area,floor,rooms,Parking,Elevator,lobby,Warehouse,jaccusie,temp
0,1401,امیرآباد تهران,91900000,12500000000,136,4,3,پارکینگ,آسانسور,لابی,انباری,سالن اجتماعات,پارکینگ لابی آسانسور انباری سالن اجتماعات
1,1383,دولت تهران,69400000,7500000000,108,2,2,پارکینگ,بالکن,انباری,حیاط,درب ریموت,پارکینگ انباری بالکن حیاط درب ریموت
2,1397,جنت آباد مرکزی تهران,69000000,4900000000,71,1,2,پارکینگ,آسانسور,انباری,بالکن,پنجره دو جداره,پارکینگ انباری آسانسور بالکن پنجره دو جداره
3,1401,امیرآباد تهران,100000000,13500000000,135,2,3,آسانسور,پارکینگ,لابی,انباری,تهویه هوا,آسانسور لابی پارکینگ انباری تهویه هوا
4,1394,یوسف آباد تهران,78600000,9200000000,117,4,2,پارکینگ,آسانسور,لابی,انباری,تهویه هوا,پارکینگ لابی آسانسور انباری تهویه هوا
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6009,1401,اباذر آیت الله کاشانی ، تهران,77500000,5500000000,71,1,2,پارکینگ,آسانسور,انباری,لابی,بالکن,پارکینگ انباری آسانسور لابی بالکن
6010,1386,پونک تهران,54200000,5150000000,95,2,2,پارکینگ,آسانسور,انباری,بالکن,حیاط,پارکینگ انباری آسانسور بالکن حیاط
6011,1379,سعادت آباد تهران,70000000,8400000000,120,1,3,پارکینگ,آسانسور,لابی,انباری,بالکن,پارکینگ لابی آسانسور انباری بالکن
6012,1384,سعادت آباد تهران,70800000,8500000000,120,4,3,بالکن,پارکینگ,سرایدار,آسانسور,لابی,بالکن سرایدار پارکینگ آسانسور لابی
6013,1401,سهروردی شمالی تهران,94600000,17500000000,185,4,3,پارکینگ,آسانسور,انباری,تهویه هوا,پنجره دو جداره,پارکینگ انباری آسانسور تهویه هوا پنجره دو جداره

In [549]:
df_full_cleaned["temp"] = df_full_cleaned["Parking"] +" " +df_full_cleaned["lobby"] +" " +df_full_cleaned["Elevator"] +" " +df_full_cleaned["Warehouse"] +" " +df_full_cleaned["jaccusie"]

In [553]:
df_full_cleaned["Parking"] = df_full_cleaned["temp"].apply(lambda x: "1" if "پارکینگ" in x else "0")
df_full_cleaned["Warehouse"] = df_full_cleaned["temp"].apply(lambda x: "1" if "انباری" in x else "0")
df_full_cleaned["lobby"] = df_full_cleaned["temp"].apply(lambda x: "1" if "لابی" in x else "0")
df_full_cleaned["Elevator"] = df_full_cleaned["temp"].apply(lambda x: "1" if "آسانسور" in x else "0")
df_full_cleaned["jaccusie"] = df_full_cleaned["temp"].apply(lambda x: "1" if "استخر" in x else "0")

In [557]:
df_full_cleaned["neighbour_hood"] = df_full_cleaned["neighbour_hood"].apply(neighbourhood_cleaner)

In [563]:
for col in df_full_cleaned.columns[7:-1]:
    df_full_cleaned[col] = df_full_cleaned[col].apply(lambda x: int(x))
    print(col)

Parking
Elevator
lobby
Warehouse
jaccusie

In [566]:
df_full_cleaned.drop(["temp"], axis=1 , inplace= True)

In [568]:
df_full_cleaned["Luxury_features"] = df_full_cleaned["jaccusie"]
df_full_cleaned.drop(["jaccusie"], axis=1 , inplace= True)

In [569]:
df_full_cleaned

,build_year,neighbour_hood,price,total_price,area,floor,rooms,Parking,Elevator,lobby,Warehouse,Luxury_features
0,1401,امیرآباد,91900000,12500000000,136,4,3,1,1,1,1,0
1,1383,دولت,69400000,7500000000,108,2,2,1,0,0,1,0
2,1397,جنتآبادمرکزی,69000000,4900000000,71,1,2,1,1,0,1,0
3,1401,امیرآباد,100000000,13500000000,135,2,3,1,1,1,1,0
4,1394,یوسفآباد,78600000,9200000000,117,4,2,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
6009,1401,اباذرآیتاللهکاشانی,77500000,5500000000,71,1,2,1,1,1,1,0
6010,1386,پونک,54200000,5150000000,95,2,2,1,1,0,1,0
6011,1379,سعادتآباد,70000000,8400000000,120,1,3,1,1,1,1,0
6012,1384,سعادتآباد,70800000,8500000000,120,4,3,1,1,1,0,0
6013,1401,سهروردیشمالی,94600000,17500000000,185,4,3,1,1,0,1,0

In [572]:
final_data = pd.concat([df_full_cleaned , df_us_floor_added]).drop(["Tercce" , "lobby"] , axis=1 )

In [573]:
final_data.to_csv("house_price.csv" , index= False)