In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [68]:
df = pd.read_csv('combined-files_droped_null.csv')

In [69]:
df.head()

,Address,Descriprion,age,area,elevator,parking,price,rooms,total_price,type,warehouse
0,تهران، تهران، پاسداران,"طبقه ملک: 7,\n,\nتعداد خواب : 4,\nتعداد پارکین...",1 سال,310,دارد,دارد,"319,355,000",4,"99,000,000,000",آپارتمان,دارد
1,تهران، تهران، اقدسیه,"طبقه ملک: 4,\n,\nنهایت هنر در معماری,\n,\nبا و...",نوساز,370,دارد,دارد,"267,568,000",4,"99,000,000,000",آپارتمان,دارد
2,تهران، تهران، نیاوران,"طبقه ملک: 7,\n,\nنهایت هنر در معماری,\n,\nبا و...",نوساز,427,دارد,دارد,"231,850,000",4,"99,000,000,000",آپارتمان,دارد
3,تهران، تهران، زعفرانیه,"کد اگهی : Mo1005,\n,\nبهترین های منطقه با خوش ...",3 سال,500,دارد,دارد,"198,000,000",4,"99,000,000,000",آپارتمان,دارد
4,تهران، تهران، زعفرانیه,"موقعیت جغرافیایی بنا: شمالی,\nموقعیت جغرافیایی...",2 سال,502,دارد,دارد,"197,211,000",5 به بالا,"99,000,000,000",آپارتمان,دارد

In [70]:
df.isna().sum()

Address        0
Descriprion    0
age            0
area           0
elevator       0
parking        0
price          0
rooms          0
total_price    0
type           0
warehouse      0
dtype: int64

In [71]:
df['warehouse'] = df['warehouse'].str.replace('دارد','True')
df['warehouse'] = df['warehouse'].str.replace('ندارد','True')

In [72]:
df['parking'] = df['parking'].str.replace('دارد','True')
df['parking'] = df['parking'].str.replace('ندارد','True')

In [73]:
df['elevator'] = df['elevator'].str.replace('دارد','True')
df['elevator'] = df['elevator'].str.replace('ندارد','True')

In [74]:
df.head()

,Address,Descriprion,age,area,elevator,parking,price,rooms,total_price,type,warehouse
0,تهران، تهران، پاسداران,"طبقه ملک: 7,\n,\nتعداد خواب : 4,\nتعداد پارکین...",1 سال,310,True,True,"319,355,000",4,"99,000,000,000",آپارتمان,True
1,تهران، تهران، اقدسیه,"طبقه ملک: 4,\n,\nنهایت هنر در معماری,\n,\nبا و...",نوساز,370,True,True,"267,568,000",4,"99,000,000,000",آپارتمان,True
2,تهران، تهران، نیاوران,"طبقه ملک: 7,\n,\nنهایت هنر در معماری,\n,\nبا و...",نوساز,427,True,True,"231,850,000",4,"99,000,000,000",آپارتمان,True
3,تهران، تهران، زعفرانیه,"کد اگهی : Mo1005,\n,\nبهترین های منطقه با خوش ...",3 سال,500,True,True,"198,000,000",4,"99,000,000,000",آپارتمان,True
4,تهران، تهران، زعفرانیه,"موقعیت جغرافیایی بنا: شمالی,\nموقعیت جغرافیایی...",2 سال,502,True,True,"197,211,000",5 به بالا,"99,000,000,000",آپارتمان,True

In [75]:
df['type'].unique()

array([' آپارتمان ', ' ویلا ', ' خانه و کلنگی '], dtype=object)

In [76]:
df['type'] = df['type'].str.replace('آپارتمان','Apartment')
df['type'] = df['type'].str.replace('ویلا','Vilaa')
df['type'] = df['type'].str.replace('خانه و کلنگی','House')
df.head()

,Address,Descriprion,age,area,elevator,parking,price,rooms,total_price,type,warehouse
0,تهران، تهران، پاسداران,"طبقه ملک: 7,\n,\nتعداد خواب : 4,\nتعداد پارکین...",1 سال,310,True,True,"319,355,000",4,"99,000,000,000",Apartment,True
1,تهران، تهران، اقدسیه,"طبقه ملک: 4,\n,\nنهایت هنر در معماری,\n,\nبا و...",نوساز,370,True,True,"267,568,000",4,"99,000,000,000",Apartment,True
2,تهران، تهران، نیاوران,"طبقه ملک: 7,\n,\nنهایت هنر در معماری,\n,\nبا و...",نوساز,427,True,True,"231,850,000",4,"99,000,000,000",Apartment,True
3,تهران، تهران، زعفرانیه,"کد اگهی : Mo1005,\n,\nبهترین های منطقه با خوش ...",3 سال,500,True,True,"198,000,000",4,"99,000,000,000",Apartment,True
4,تهران، تهران، زعفرانیه,"موقعیت جغرافیایی بنا: شمالی,\nموقعیت جغرافیایی...",2 سال,502,True,True,"197,211,000",5 به بالا,"99,000,000,000",Apartment,True

In [77]:
df['type'].unique()

array([' Apartment ', ' Vilaa ', ' House '], dtype=object)

In [78]:
df['age'] = df['age'].str.replace('سال', '')
df.head()

,Address,Descriprion,age,area,elevator,parking,price,rooms,total_price,type,warehouse
0,تهران، تهران، پاسداران,"طبقه ملک: 7,\n,\nتعداد خواب : 4,\nتعداد پارکین...",1,310,True,True,"319,355,000",4,"99,000,000,000",Apartment,True
1,تهران، تهران، اقدسیه,"طبقه ملک: 4,\n,\nنهایت هنر در معماری,\n,\nبا و...",نوساز,370,True,True,"267,568,000",4,"99,000,000,000",Apartment,True
2,تهران، تهران، نیاوران,"طبقه ملک: 7,\n,\nنهایت هنر در معماری,\n,\nبا و...",نوساز,427,True,True,"231,850,000",4,"99,000,000,000",Apartment,True
3,تهران، تهران، زعفرانیه,"کد اگهی : Mo1005,\n,\nبهترین های منطقه با خوش ...",3,500,True,True,"198,000,000",4,"99,000,000,000",Apartment,True
4,تهران، تهران، زعفرانیه,"موقعیت جغرافیایی بنا: شمالی,\nموقعیت جغرافیایی...",2,502,True,True,"197,211,000",5 به بالا,"99,000,000,000",Apartment,True

In [79]:
df['age'].unique()

array(['1 ', ' نوساز ', '3 ', '2 ', '14 ', '10 ', '26 ', '4 ', '7 ',
       '16 ', '6 ', '20 ', '11 ', '5 ', '9 ', '21 ', '8 ', 'بیشتر از 30 ',
       '25 ', '15 ', '13 ', '12 ', '19 ', '18 ', '17 ', '31 ', '23 ',
       '24 ', '27 ', '30 ', '29 ', '22 ', '28 '], dtype=object)

In [81]:
df['age'] = df['age'].str.replace('نوساز', '0')
#more than 30 ==> 30+
df['age'] = df['age'].str.replace('بیشتر از 30 ', '30+')
df['age'].unique()

array(['1 ', ' 0 ', '3 ', '2 ', '14 ', '10 ', '26 ', '4 ', '7 ', '16 ',
       '6 ', '20 ', '11 ', '5 ', '9 ', '21 ', '8 ', '30+', '25 ', '15 ',
       '13 ', '12 ', '19 ', '18 ', '17 ', '31 ', '23 ', '24 ', '27 ',
       '30 ', '29 ', '22 ', '28 '], dtype=object)

In [82]:
df.head()

,Address,Descriprion,age,area,elevator,parking,price,rooms,total_price,type,warehouse
0,تهران، تهران، پاسداران,"طبقه ملک: 7,\n,\nتعداد خواب : 4,\nتعداد پارکین...",1,310,True,True,"319,355,000",4,"99,000,000,000",Apartment,True
1,تهران، تهران، اقدسیه,"طبقه ملک: 4,\n,\nنهایت هنر در معماری,\n,\nبا و...",0,370,True,True,"267,568,000",4,"99,000,000,000",Apartment,True
2,تهران، تهران، نیاوران,"طبقه ملک: 7,\n,\nنهایت هنر در معماری,\n,\nبا و...",0,427,True,True,"231,850,000",4,"99,000,000,000",Apartment,True
3,تهران، تهران، زعفرانیه,"کد اگهی : Mo1005,\n,\nبهترین های منطقه با خوش ...",3,500,True,True,"198,000,000",4,"99,000,000,000",Apartment,True
4,تهران، تهران، زعفرانیه,"موقعیت جغرافیایی بنا: شمالی,\nموقعیت جغرافیایی...",2,502,True,True,"197,211,000",5 به بالا,"99,000,000,000",Apartment,True

In [83]:
df['rooms'].unique()

array(['4', '5 به بالا', '3', '2', '1'], dtype=object)

In [86]:
# more than 5 ==> 5+
df['rooms'] = df['rooms'].str.replace('5 به بالا', '5+')
df.head()

,Address,Descriprion,age,area,elevator,parking,price,rooms,total_price,type,warehouse
0,تهران، تهران، پاسداران,"طبقه ملک: 7,\n,\nتعداد خواب : 4,\nتعداد پارکین...",1,310,True,True,"319,355,000",4,"99,000,000,000",Apartment,True
1,تهران، تهران، اقدسیه,"طبقه ملک: 4,\n,\nنهایت هنر در معماری,\n,\nبا و...",0,370,True,True,"267,568,000",4,"99,000,000,000",Apartment,True
2,تهران، تهران، نیاوران,"طبقه ملک: 7,\n,\nنهایت هنر در معماری,\n,\nبا و...",0,427,True,True,"231,850,000",4,"99,000,000,000",Apartment,True
3,تهران، تهران، زعفرانیه,"کد اگهی : Mo1005,\n,\nبهترین های منطقه با خوش ...",3,500,True,True,"198,000,000",4,"99,000,000,000",Apartment,True
4,تهران، تهران، زعفرانیه,"موقعیت جغرافیایی بنا: شمالی,\nموقعیت جغرافیایی...",2,502,True,True,"197,211,000",5+,"99,000,000,000",Apartment,True

In [88]:
df['Address'] = df['Address'].str.replace('تهران، تهران، ', '')
df

,Address,Descriprion,age,area,elevator,parking,price,rooms,total_price,type,warehouse
0,پاسداران,"طبقه ملک: 7,\n,\nتعداد خواب : 4,\nتعداد پارکین...",1,310,True,True,"319,355,000",4,"99,000,000,000",Apartment,True
1,اقدسیه,"طبقه ملک: 4,\n,\nنهایت هنر در معماری,\n,\nبا و...",0,370,True,True,"267,568,000",4,"99,000,000,000",Apartment,True
2,نیاوران,"طبقه ملک: 7,\n,\nنهایت هنر در معماری,\n,\nبا و...",0,427,True,True,"231,850,000",4,"99,000,000,000",Apartment,True
3,زعفرانیه,"کد اگهی : Mo1005,\n,\nبهترین های منطقه با خوش ...",3,500,True,True,"198,000,000",4,"99,000,000,000",Apartment,True
4,زعفرانیه,"موقعیت جغرافیایی بنا: شمالی,\nموقعیت جغرافیایی...",2,502,True,True,"197,211,000",5+,"99,000,000,000",Apartment,True
...,...,...,...,...,...,...,...,...,...,...,...
7610,دهکده المپیک,"طبقه ملک: 12,\n,\nخرید اقساطی در بهترین و معتب...",0,3,True,True,"33,333,000",5+,"100,000,000",Apartment,True
7611,دهکده المپیک,"طبقه ملک: 12,\n,\nخرید اقساطی در بهترین و معتب...",0,3,True,True,"33,333,000",5+,"100,000,000",Apartment,True
7612,دهکده المپیک,"طبقه ملک: 12,\n,\nپیش خرید مجتمع اداری تجاری ب...",0,21,True,True,"4,762,000",5+,"100,000,000",Apartment,True
7613,دهکده المپیک,"طبقه ملک: 25,\n,\nخرید اقساطی در بهترین و معتب...",0,100,True,True,"1,000,000",5+,"100,000,000",Apartment,True
7614,قنات کوثر,"موقعیت عالی طبقه دوم , , ,",7,88,True,True,"659,000",2,"58,000,000",Apartment,True

In [99]:
def column_info(column):
    print(column)
    print(df[column].nunique())
    print(df[column].unique())
#column_info('Address')
#column_info('age')
#column_info('area')
#column_info('elevator')
#column_info('parking')
#column_info('rooms')
#column_info('type')
#column_info('warehouse')

In [107]:
df['roof_garden'] = df.apply(lambda x: 'روف گاردن' in x.Descriprion, axis=1)
df['teracce'] = df.apply(lambda x: 'تراس' or 'بالکن' in x.Descriprion, axis=1)
df['teracce'] = df.apply(lambda x: ('استخر' or 'سونا/جکوزی' or 'جکوزی' or 'سونا') in x.Descriprion, axis=1)
df['party_room'] = df.apply(lambda x: ' سالن اجتماعات' in x.Descriprion, axis=1)
df

,Address,Descriprion,age,area,elevator,parking,price,rooms,total_price,type,warehouse,roof_garden,teracce,party_room
0,پاسداران,"طبقه ملک: 7,\n,\nتعداد خواب : 4,\nتعداد پارکین...",1,310,True,True,"319,355,000",4,"99,000,000,000",Apartment,True,True,True,True
1,اقدسیه,"طبقه ملک: 4,\n,\nنهایت هنر در معماری,\n,\nبا و...",0,370,True,True,"267,568,000",4,"99,000,000,000",Apartment,True,False,False,False
2,نیاوران,"طبقه ملک: 7,\n,\nنهایت هنر در معماری,\n,\nبا و...",0,427,True,True,"231,850,000",4,"99,000,000,000",Apartment,True,False,False,False
3,زعفرانیه,"کد اگهی : Mo1005,\n,\nبهترین های منطقه با خوش ...",3,500,True,True,"198,000,000",4,"99,000,000,000",Apartment,True,True,False,False
4,زعفرانیه,"موقعیت جغرافیایی بنا: شمالی,\nموقعیت جغرافیایی...",2,502,True,True,"197,211,000",5+,"99,000,000,000",Apartment,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7610,دهکده المپیک,"طبقه ملک: 12,\n,\nخرید اقساطی در بهترین و معتب...",0,3,True,True,"33,333,000",5+,"100,000,000",Apartment,True,False,False,False
7611,دهکده المپیک,"طبقه ملک: 12,\n,\nخرید اقساطی در بهترین و معتب...",0,3,True,True,"33,333,000",5+,"100,000,000",Apartment,True,False,False,False
7612,دهکده المپیک,"طبقه ملک: 12,\n,\nپیش خرید مجتمع اداری تجاری ب...",0,21,True,True,"4,762,000",5+,"100,000,000",Apartment,True,False,False,False
7613,دهکده المپیک,"طبقه ملک: 25,\n,\nخرید اقساطی در بهترین و معتب...",0,100,True,True,"1,000,000",5+,"100,000,000",Apartment,True,False,False,False
7614,قنات کوثر,"موقعیت عالی طبقه دوم , , ,",7,88,True,True,"659,000",2,"58,000,000",Apartment,True,False,False,False

In [108]:
df.to_csv('semi_cleaned.csv')